---
layout: archive
permalink: /workingpapers/
author_profile: true
---

{% include base_path %}

<h2>Working Papers</h2>

{% for post in site.publications reversed %}
  {% if post.category == "working" %}
    {% include pub-entry.html %}
  {% endif %}
{% endfor %}

<h2>Work in Progress</h2>

{% for post in site.publications reversed %}
  {% if post.category == "progress" %}
    {% include pub-entry.html %}
  {% endif %}
{% endfor %}

<h2>Dormant Projects</h2>

{% for post in site.publications reversed %}
  {% if post.category == "dormant" %}
    {% include pub-entry.html %}
  {% endif %}
{% endfor %}
