{% if post.id %}
  {% assign ptitle = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign ptitle = post.title %}
{% endif %}

<div class="pub-entry">
  <div class="pub-title">
    {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank">"{{ ptitle }}"</a>{% else %}"{{ ptitle }}"{% endif %}
  </div>
  {% if post.coauthors %}<div class="pub-authors">(with {{ post.coauthors }})</div>{% endif %}
  {% if post.category == "manuscripts" %}<div class="pub-venue"><em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}</div>{% endif %}
  <div class="pub-links">
    {% if post.category == "manuscripts" %}
      {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank">[Published Version]</a>{% endif %}
      {% if post.workingpaperurl %}<a href="{{ post.workingpaperurl }}" target="_blank">[Working Paper]</a>{% endif %}
    {% else %}
      {% if post.paperurl %}<a href="{{ post.paperurl }}" target="_blank">[Working Paper]</a>{% elsif post.workingpaperurl %}<a href="{{ post.workingpaperurl }}" target="_blank">[Working Paper]</a>{% elsif post.category == "working" %}<span class="pub-draft">Draft available upon request</span>{% endif %}
    {% endif %}
    {% if post.appendixurl %}<a href="{{ post.appendixurl }}" target="_blank">[Online Appendix]</a>{% endif %}
    {% if post.replicationurl %}<a href="{{ post.replicationurl }}" target="_blank">[Replication]</a>{% endif %}
  </div>
</div>
